<% %>
 <div class="row randomArticle">
    <div class="col-md-4 col-md-offset-4">
      <% if @random_article != nil %>
        <div class="randomImg">
          <%= image_tag @random_article.avatar.url(:medium), :class => 'img-responsive'  %>
        </div>
        <h1>
          <%= @random_article.name %>
        </h1>

        <p>
          <strong>Description:</strong>
          <%= @random_article.description %>
        </p>

        <p>
          <strong>Shippable:</strong>
          <%
            if @random_article.shippable?
          %>
              <i class="glyphicon glyphicon-ok"></i>
          <%
            else
          %>
            <i class="glyphicon glyphicon-remove"></i>
          <%
          end
          %>
        </p>

        <%= link_to 'Can I has?', like_article_path(:id => @random_article.id, :choice => "yes"), :class => 'btn btn-success btn-lg', :id => "yes" %>
        <%= link_to 'Nope', like_article_path(:id => @random_article.id, :choice => "no"), :class => 'btn btn-danger  btn-lg', :id => "no" %>
        <br><br>
        <p>Use your keyboard: 'A' - Can I has | 'D' - Nope</p>

      <% else %>
        <h2> There are no Articles you have not seen yet :(</h2>
        <br />
        <%= link_to 'Check again', random_article_path, :class => 'btn btn-default center-block' %>
      <% end %>
    </div>
</div>
<script type="text/javascript">

 $(document).keypress(function(e) {
    //console.log(e.which)
    if(e.which == 97) {
      $( "#yes" )[0].click();
    }
    if(e.which == 100) {
      $("#no")[0].click();
    }
});
</script>

