<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 white">
      <%	conversation = Conversation.find(params[:id])
      	if conversation.user_1_id == current_user.id
          user2 = User.by_id(conversation.user_2_id)
          user1 = User.by_id(conversation.user_1_id)
        else
          user2 = User.by_id(conversation.user_1_id)
          user1 = User.by_id(conversation.user_2_id)
        end %>
        <%
          if user1.id != current_user.id
        %>
            <h1>Forbidden!</h1>
            <h2>You can't see conversations that don't belong to you</h2>
        <% else %>

  		<h1>Conversation with <b><%= user2.name %></b></h1>
  		<%= image_tag User.avatar(user2.id, ':thumb'), class: "thumbConv" %>
  		<table class="messages">
			<% @messages.each do |message| %>
				<tr>
			     <% if message.sender == current_user.id %>
			     	<td></td>
			    	<td></td>
			    	<td class="own" ><%= message.text %></td>
			     <% else %>
			     	<td class="other"><%= message.text %></td>
			    	<td></td>
			    	<td></td>
			     <% end %>
			    </tr>
			<% end %>
		</table>

		<div class="control">
			<%= form_tag({controller: "conversations", action: "new_message"}, method: "post")   do %>


			  	<%= link_to conversation_path(id: params[:id]), class: "btn btn-success" do %>
			    	<i class="glyphicon glyphicon-refresh"></i>
				<% end %>

				<%= button_tag(type: "submit", class: "btn btn-primary") do %>
			    	<i class="glyphicon glyphicon-send"></i>
				<% end %>

			  	<span> <%= text_field_tag :text, nil, autofocus: true %> </span>
			  	<%= hidden_field_tag(:conversation_id, params[:id]) %>

			<% end %>
		</div>
    <% end %>
  	</div>
  </div>
</div>




