<% if state == "accepted" %>

	<%= link_to matches_article_with_params_path(:state => state, :action => yes), class: "btn btn-success" do %>
	    <i class="glyphicon glyphicon-ok">Accept</i>
	<% end %> 

	<%= link_to matches_article_with_params_path(:state => state, :action => no) class: "btn btn-danger btn-xs" do %>
	    <i class="glyphicon glyphicon-remove">Reject</i>
	<% end %>

<% elsif state == "rejected" %>

	<h3><span class="label label-danger"><i class="glyphicon glyphicon-remove">Rejected</i></span></h3>

	<%= link_to matches_article_with_state_path(:state => state, :action => no) class: "btn btn-danger btn-xs" do %>
	    <i class="glyphicon glyphicon-remove">Remove</i>
	<% end %>

<% elsif state == "iAccepted" %>
	
	<h3><span class="label label-success"><i class="glyphicon glyphicon-ok">Accepted</i></span></h3>

	<%= link_to matches_article_with_params_path(:state => state, :action => no) class: "btn btn-danger btn-xs" do %>
	    <i class="glyphicon glyphicon-remove">Reject</i>
	<% end %>

<% elsif state == "iRejected" %>

	<h3><span class="label label-danger"><i class="glyphicon glyphicon-remove">You Rejected</i></span></h3>

	<%= link_to matches_article_with_params_path(:state => state, :action => no) class: "btn btn-danger btn-xs" do %>
	    <i class="glyphicon glyphicon-repeat">Undo</i>
	<% end %>

<% elsif state == "bothAccepted" %>
	
	<%= link_to matches_article_with_params_path(:state => state, :action => yes), class: "btn btn-success" do %>
	    <i class="glyphicon glyphicon-heart">Both Accepted</i>
	<% end %> 

<% elsif state == "bothRejected" %>
	<!-- existiert eventuell nicht -->
	<!-- <h3><span class="label label-danger"><i class="glyphicon glyphicon-remove">Both Rejected</i></span></h3> -->


<% else %>

	<%= link_to matches_article_with_params_path(:state => state, :action => yes), class: "btn btn-success" do %>
	    <i class="glyphicon glyphicon-refresh">Exchange</i>
	<% end %> 

	<%= link_to matches_article_with_params_path(:state => state, :action => no) class: "btn btn-danger btn-xs" do %>
	    <i class="glyphicon glyphicon-remove">Reject</i>
	<% end %>

<% end %>





