<% 
    first = true 
    user.each do |match| 
%>
    <div class="row matchesArticle <%= "#{match[:state]}" %>">
        <div class="col-md-2 a">
            <%= if first 
                image_tag "u#{@currentUser}.png", :class => 'img-responsive'
                end   
            %>
        </div>
        <div class="col-md-3 b">
            <%= image_tag "a#{match[:my].id}.jpg", :class => 'img-responsive'  %>
        </div>
        <div class="col-md-2 c">
             <%= render "exchangeForm", :id1 => match[:my].id, :id2 => match[:other].id, :state => match[:state]%>
        </div>
        <div class="col-md-3 d">
            <%= image_tag "a#{match[:other].id}.jpg", :class => 'img-responsive'  %>
        </div>
        <div class="col-md-2 e">
            <%= if first 
                first = false;
                image_tag "u#{match[:other].user_id}.png", :class => 'img-responsive'
                end   
            %>
        </div>
    </div>
<% end %>